@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

.theme-1 {
  --bg-1: hsl(222, 26%, 31%);
  --bg-2: hsl(223, 31%, 20%);
  --bg-3: hsl(224, 36%, 15%);
  --bg-4: hsl(225, 21%, 49%);
  --bg-4-dark: hsl(224, 28%, 35%);
  --bg-5: hsl(6, 63%, 50%);
  --bg-5-dark: hsl(6, 70%, 34%);
  --bg-6: hsl(30, 25%, 89%);
  --bg-6-dark: hsl(28, 16%, 65%);
  --fg-1: hsl(0, 0%, 100%);
  --fg-2: hsl(0, 0%, 100%);
  --fg-3: hsl(0, 0%, 100%);
  --fg-4: hsl(0, 0%, 100%);
  --fg-5: hsl(0, 0%, 100%);
  --fg-6: hsl(221, 14%, 31%);
}

.theme-2 {
  --bg-1: hsl(0, 0%, 90%);
  --bg-2: hsl(0, 5%, 81%);
  --bg-3: hsl(0, 0%, 93%);
  --bg-4: hsl(185, 42%, 37%);
  --bg-4-dark: hsl(185, 58%, 25%);
  --bg-5: hsl(25, 98%, 40%);
  --bg-5-dark: hsl(25, 99%, 27%);
  --bg-6: hsl(45, 7%, 89%);
  --bg-6-dark: hsl(35, 11%, 61%);
  --fg-1: hsl(221, 14%, 31%);
  --fg-2: hsl(221, 14%, 31%);
  --fg-3: hsl(221, 14%, 31%);
  --fg-4: hsl(0, 0%, 100%);
  --fg-5: hsl(0, 0%, 100%);
  --fg-6: hsl(221, 14%, 31%);
}

.theme-3 {
  --bg-1: hsl(268, 75%, 9%);
  --bg-2: hsl(268, 71%, 12%);
  --bg-3: hsl(268, 71%, 12%);
  --bg-4: hsl(281, 89%, 26%);
  --bg-4-dark: hsl(285, 91%, 52%);
  --bg-5: hsl(176, 100%, 44%);
  --bg-5-dark: hsl(177, 92%, 70%);
  --bg-6: hsl(268, 47%, 21%);
  --bg-6-dark: hsl(290, 70%, 36%);
  --fg-1: hsl(52, 100%, 62%);
  --fg-2: hsl(52, 100%, 62%);
  --fg-3: hsl(52, 100%, 62%);
  --fg-4: hsl(0, 0%, 100%);
  --fg-5: hsl(198, 20%, 13%);
  --fg-6: hsl(52, 100%, 62%);
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}